<div class="row">
  <div class="col-sm-3">
    <app-search
      [controls]="searchConfig"
      (searchChange)="updateFilters($event)"
    ></app-search>
  </div>
  <div class="col-sm-9 pl-0">
    <div class="card shadow-sm" *ngIf="workers$ | async as workers">
      <div class="card-header">
        <div class="d-flex gap-2">
          <div class="fs-5 flex-grow-1">Workers List</div>
          <div class="badge bg-info m-auto">
            workers count: {{ (workers | search: (filters$|async))?.length }}
          </div>
          <app-add-worker (onChange)="onGridChange($event)"></app-add-worker>
        </div>
      </div>
      <div class="card-body">
        <app-datagrid
          [data]="workers | search: (filters$|async)"
          [config]="dataGridConfig"
          (onAction)="onGridChange($event)"
        >
        </app-datagrid>
      </div>
    </div>
  </div>
</div>
