<ng-template #showForm>
  <h2>Login form</h2>
  <form class="d-grid gap-3 w-50" id="login-form" #loginForm="ngForm">
    <input class="form-control mx-1" type="email" name="username" ngModel="admin@localhost" required
      placeholder="username">
    <input class="form-control mx-1" type="password" name="password" ngModel="Admin1" required
      placeholder="password">
    <div>
      <button class="btn btn-sm btn-primary mx-1" (click)="logIn(loginForm.value)">
        log in
      </button>
    </div>
  </form>
</ng-template>

<button *ngIf="access$ | async; else showForm" class="btn btn-danger mr-2" (click)="logOut()">
  log out
</button>
