<div class="row">
  <div class="col">
    <div class="card shadow-sm card-body">
      <h1>Szkolenie Angular</h1>
      <h3>Demo aplikacji</h3>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4>Aby edytować zaloguj się.</h4>
        <p>Login i hasło masz wpisane.</p>
        Możesz również utworzyć
        <a class="btn btn-primary btn-sm text-white" routerLink="register"
          >własne konto</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm card-body bg-warning">
      Projekt się zmienia; w razie problemów z API pobierz najnowszą wersję z
      repo i sprawdź end-pointy w pliku api.ts.
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm card-body">v. {{ version }}</div>
  </div>
</div>
