<table class="table table-hover" *ngIf="data">
  <thead>
    <tr>
      <th>Lp.</th>
      <th *ngFor="let header of config">
        {{(header.header || header.key) | titlecase}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-grid-row *ngFor="let item of data; let idx=index" [data]="item" [config]="config"
      (onChange)="onAction.emit($event)">
      {{idx+1}}
    </tr>
  </tbody>
</table>
