<div class="row">
  <form
    #f="ngForm"
    [formGroup]="registerForm"
    id="register-form"
    class="col-md-6"
  >
    <div class="card shadow-sm">
      <div class="card-header fs-5">Create your account</div>
      <div class="card-body">
        <div class="row g-3">
          <div>
            username/email
            <input
              type="text"
              class="form-control"
              formControlName="username"
              name="username"
            />
            <app-errors
              *ngIf="registerForm.get('username')?.dirty || f.submitted"
              [errors]="registerForm.get('username')?.errors"
            >
            </app-errors>
          </div>

          <div formGroupName="passwordGroup">
            <div class="row">
              <div
                class="col-6"
                *ngFor="
                  let item of registerForm.get('passwordGroup')?.value
                    | keyvalue;
                  trackBy: track
                "
              >
                {{ "" + item.key | camelCaseToSign: " " }}
                <input
                  type="password"
                  class="form-control"
                  [formControlName]="'' + item.key"
                  [name]="item.key"
                />
                <app-errors
                  *ngIf="f.submitted"
                  [errors]="
                    registerForm.get('passwordGroup')?.get('' + item.key)
                      ?.errors
                  "
                >
                </app-errors>
              </div>
            </div>
            <small>4-8 chars, upper and lower case letters and numbers</small>
            <app-errors
              *ngIf="f.submitted"
              [errors]="registerForm.get('passwordGroup')?.errors"
            >
            </app-errors>
          </div>

          <div>
            birth date
            <div class="form-inline">
              <input
                ngbDatepicker
                #d="ngbDatepicker"
                placeholder="yyyy-mm-dd"
                class="form-control"
                formControlName="birthDate"
                name="birthDate"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="d.toggle()"
                  type="button"
                >
                  date
                </button>
              </div>
            </div>
            <app-errors
              *ngIf="f.submitted"
              [errors]="registerForm.get('birthDate')?.errors"
            >
            </app-errors>
          </div>

          <div formGroupName="hobbies">
            hobbies
            <br />
            <label
              class="label-checkbox pb-2"
              *ngFor="let item of registerForm.get('hobbies')?.value | keyvalue"
            >
              {{ item.key }}
              <input
                type="checkbox"
                class="form-check"
                [placeholder]="item"
                [name]="item"
                [formControlName]="'' + item.key"
              />
            </label>
            <app-errors
              *ngIf="f.submitted"
              [errors]="registerForm.get('hobbies')?.errors"
            >
            </app-errors>
          </div>

          <div>
            <p>Any special requests?</p>
            <ol formArrayName="specialRequests">
              <li
                *ngFor="
                  let item of registerForm.controls.specialRequests?.value
                    | keyvalue;
                  let i = index;
                  trackBy: track
                "
              >
                <input class="form-control" placeholder="type your request" type="text" [formControlName]="i" />
              </li>
            </ol>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onAddSpecialRequest()"
            >
              Add a Request
            </button>
          </div>
        </div>

        <hr />

        <button class="btn btn-primary mr-2" (click)="sendForm(f)">
          send me
        </button>

        <div
          class="badge"
          [class.bg-success]="registerForm.valid"
          [class.bg-warning]="!registerForm.valid"
        >
          form valid: {{ registerForm.valid }}
        </div>
      </div>
    </div>
  </form>

  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-header fs-5">form value</div>
      <pre class="card-body">{{ registerForm.value | json }}</pre>
    </div>
  </div>
</div>
