<div class="row">
  <div class="col-sm-3">
    <app-search
      [controls]="searchConfig"
      (searchChange)="updateFilters($event)"
    ></app-search>
  </div>
  <div class="col-sm-9 pl-0">
    <div class="card shadow-sm pb-0" *ngIf="items$ | async as items">
      <div class="card-header">
        <div class="row">
          <div class="col d-flex gap-2">
            <div class="fs-5 flex-grow-1">Items List</div>
            <div class="badge bg-info my-auto">
              items: {{ items.data?.length }} / {{ items.total }}
            </div>
            <modal-add
              *ngIf="access$ | async"
              (onChange)="onAction($event)"
            ></modal-add>
            <ngb-pagination [collectionSize]="items.total" [maxSize]="5" size="sm"
              [pageSize]="(filters$ | async)!.itemsPerPage" [rotate]="true"
              (pageChange)="updateFilters({ currentPage: $event || 1 })" [page]="(filters$ | async)!.currentPage">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-datagrid
          [data]="items.data"
          [config]="dataGridConfig"
          (onAction)="onAction($event)"
        >
        </app-datagrid>
      </div>
    </div>
  </div>
</div>
