<td>
  <ng-content></ng-content>
</td>
<td [ngSwitch]="row.type" *ngFor="let row of config; let idx = index">
  <div *ngSwitchCase="'img'">
    <img [src]="data[row.key]" height="30" />
  </div>

  <div *ngSwitchCase="'input'" class="form-inline">
    <input
      class="form-control form-control-sm"
      type="text"
      [(ngModel)]="data[row.key]"
      [disabled]="row.disabled || false"
      (input)="onChange.emit({type:'update', data})"
    />
  </div>

  <div *ngSwitchCase="'button'" class="form-inline">
    <button
      [disabled]="row.disabled"
      class="btn btn-primary btn-sm"
      (click)="onChange.emit({type:row.header, data})"
    >
      {{ row.header }}
    </button>
  </div>

  <div *ngSwitchDefault>
    {{ data[row.key] }}
  </div>
</td>
