<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title fs-5">{{question}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm btn-confirm" (click)="c()">ok</button>
    </div>
</ng-template>

<button class="btn btn-sm btn-danger" (click)="open(content)">{{btnText}}</button>
