<app-spinner></app-spinner>
<div class="container-fluid">
  <div class="row py-2 mb-3 my-auto bg-white border-bottom shadow-sm">
    <div class="col-6 my-auto">
      <app-nav></app-nav>
    </div>
    <div class="col-3 my-auto">
      <span>
        <div *ngIf="(serverInfo$ | async)?.error as error">
          <small>server error </small>
          <div class="badge bg-danger">{{ error }}</div>
        </div>
        <div *ngIf="(serverInfo$ | async)?.message as message">
          <small>server msg </small>
          <div class="badge bg-info">{{ message }}</div>
        </div>
      </span>
    </div>
    <div class="col-3 my-auto d-flex justify-content-end">
      <ng-template #login>
        <button class="btn btn-success shadow-sm btn-sm" routerLink="/login">login</button>
      </ng-template>
      <ng-template #logout>
        <button class="btn btn-warning btn-sm" (click)="authService.logOut()">logout</button>
      </ng-template>
      <ng-container *ngIf="(access$ | async) then logout else login"></ng-container>
    </div>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="my-3">
    <course-footer courses></course-footer>
  </div>
</div>
