<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title fs-5">Add new item</div>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    #f="ngForm"
    id="add-item-form"
    (submit)="checkAndSend(addItemForm)"
    [formGroup]="addItemForm"
  >
    <div class="modal-body">
      <div class="mb-3">
        <input
          ngbAutofocus
          class="form-control"
          type="text"
          placeholder="title"
          formControlName="title"
        />
        <app-errors
          *ngIf="f.submitted"
          [errors]="addItemForm.get('title')?.errors"
        ></app-errors>
      </div>
      <div class="mb-3">
        <input
          class="form-control"
          type="number"
          placeholder="price"
          formControlName="price"
        />
        <app-errors
          *ngIf="f.submitted"
          [errors]="addItemForm.get('price')?.errors"
        ></app-errors>
      </div>
      <div class="mb-3">
        <select formControlName="category" class="form-control">
          <option value="" disabled selected>category</option>
          <option *ngFor="let opt of ['food', 'clothes']" [value]="opt">
            {{ opt }}
          </option>
        </select>
        <app-errors
          *ngIf="f.submitted"
          [errors]="addItemForm.get('category')?.errors"
        ></app-errors>
      </div>
      <div class="card shadow-sm card-body">
        <div class="row">
          <div class="col-sm-9">
            <file-upload
              [url]="uploadUrl"
              (uploaded)="addItemForm.get('imgSrc')?.setValue($event)"
            >
            </file-upload>
          </div>
          <div class="col-sm-3">
            <img [src]="addItemForm.get('imgSrc')?.value" width="50" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-secondary">send item</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-primary btn-sm" (click)="open(content)">add item</button>
