/* You can add global styles to this file, and also import other style files */

html {
  overflow-y: scroll;
}

.container-fluid {
  background-color: #eaeaea50;
}

.pagination {
  margin: 0;
}

.pagination .active a span {
  display: none;
}
