<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title fs-5">Add new worker</div>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    [formGroup]="workerForm"
    id="add-worker-form"
    (submit)="checkAndSend(workerForm)"
  >
    <div class="modal-body">
      <div class="mb-3">
        <input
          ngbAutofocus
          class="form-control"
          placeholder="name"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <input
          class="form-control"
          type="number"
          placeholder="phone"
          formControlName="phone"
        />
      </div>
      <div>
        <select class="form-control" formControlName="category">
          <option value="" disabled selected>category</option>
          <option *ngFor="let opt of ['sales', 'support']" [value]="opt">
            {{ opt }}
          </option>
        </select>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-sm btn-primary" [disabled]="!workerForm.valid">
        send
      </button>
    </div>
  </form>
</ng-template>

<button class="btn btn-primary btn-sm mr-1" (click)="open(content)">
  add worker
</button>
