<nav class="nav nav-pills">
    <a class="nav-item nav-link" routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        home
    </a>
    <a class="nav-item nav-link" routerLink="items" routerLinkActive="active">
        items
    </a>
    <a class="nav-item nav-link" routerLink="workers" routerLinkActive="active">
        workers
    </a>
    <a class="nav-item nav-link" routerLink="register" routerLinkActive="active">
        register
    </a>
    <a class="nav-item nav-link" routerLink="profile" routerLinkActive="active">
        profile
    </a>
</nav>
